.footer {
  /* position: sticky; */
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);

  @media (max-width: 575px) {
    flex-direction: column;
  }
}
